@model UniversityManagement.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h1>Course Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Credits)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Credits)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Semester)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Semester)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Programme)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Programme)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EducationLevel)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EducationLevel)</dd>

        <dt class="col-sm-3">First Teacher</dt>
        <dd class="col-sm-9">@(Model.FirstTeacher?.FirstName + " " + Model.FirstTeacher?.LastName)</dd>

        <dt class="col-sm-3">Second Teacher</dt>
        <dd class="col-sm-9">@(Model.SecondTeacher?.FirstName + " " + Model.SecondTeacher?.LastName)</dd>
    </dl>

    <h3 class="mt-4">Enrolled Students</h3>
    @if (Model.Enrollments != null && Model.Enrollments.Any())
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var enrollment in Model.Enrollments)
                {
                    <tr>
                        <td>@enrollment.Student?.StudentId</td>
                        <td>@(enrollment.Student?.FirstName + " " + enrollment.Student?.LastName)</td>
                        <td>@enrollment.Grade</td>
                        <td>@enrollment.Year</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students enrolled.</p>
    }
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="EnrollStudents" asp-route-id="@Model.Id" class="btn btn-success">Manage Students</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
